body {
    font-family: Arial, Helvetica, sans-serif;
}

#canvas-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;

    border-radius: 5px;
    border: 1px solid #2e6dea;
}

#canvas-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-image: url(../img/logo.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: center;

    transition: 2.5s opacity;
}

.game-active #canvas-wrapper:before {
    opacity: 0.1;
}

#canvas-wrapper canvas {
    margin: 2px;
}

#canvas-bg {
    z-index: 1;
}

#canvas-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#canvas-effects {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#right-menu {
    display: inline-block;
    vertical-align: top;

    margin: 0 0 0 20px;
}

#controllers {
    margin: 0 0 10px;
    transition: 1s opacity;
}

#levels {
    margin: 0 0 10px;
}

.game-active #controllers {
    opacity: 0.5;
}

.game-active #levels {
    opacity: 0.5;
}

button {
    display: block;
    width: 140px;
    height: 35px;
    margin: 0 0 10px;

    color: #fff;
    font-size: 14px;
    background-color: #2096f3;
    border: 1px solid #30c0ff;
    border-radius: 3px;
}

button:last-child {
    margin-bottom: 0;
}

.controller-item {
    width: 200px;
    margin: 0 0 10px;
    padding: 10px;

    color: #888;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ddd;
    cursor: pointer;
}

.controller-item--active {
    color: #222;
    border-color: #30c0ff;
    background-color: #d1ecf9;
}

.controller-item:last-child {
    margin-bottom: 0;
}

.level-item {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px;

    color: #888;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ddd;
    cursor: pointer;
}

.level-item--active {
    color: #222;
    border-color: #30c0ff;
    background-color: #d1ecf9;
}

.level-item:last-child {
    margin-right: 0;
}
